@import "globals";

.app-server {

  .configure {
    .red {
      color: $red-1;
    }
    .blue {
      color: $blue-1;
    }
  }

  table.active-connections {
    margin-top: 20px;
    border-collapse: collapse;

    td {
      padding: 4px 8px;
      border: 1px solid $grey-3;
      color: $grey-9;

      button {
        border: none;
        background: none;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    thead {
      td {
        background-color: $grey-2;
      }
    }
  }
}
