.gamefield {
  position: relative;
  display: inline-block;
  font-size: 0;
  overflow: hidden;

  .calcFrom {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .field-row { line-height: 0; }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: crosshair;
    z-index: 100;
  }
}
